PORT=3001
DATABASE_URL=Database_String_URL
JWT_SECRET=Secret

SUPABASE_URL=Supabase_Connection_URL
SUPABASE_KEY=Supabase_API_KEY
SUPABASE_BUCKET=Bucket_Name # Which contains images

EMAIL_HOST=smtp.gmail.com # mail host
EMAIL_PORT=587 # default TCP port
EMAIL_USER=Sender_MAIL
EMAIL_PASS=Sender_Passcode